/* Variables ------------------------ */
/* Mixins ------------------------ */
/* Base Styles ------------------------ */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font: 17px Georgia, Times, "Times New Roman", serif;
  line-height: 1.5294117647em;
  color: #303030; }
  @media screen and (min-width: 935px) {
    body {
      border: 7px solid #303030; } }

iframe {
  border: 0; }

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  font-size: inherit; }

li {
  display: block; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a {
  color: inherit;
  transition: .3s;
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  border: 0; }

p {
  margin: 0 0 1.5294117647em 0; }

.r-br {
  display: none; }
  @media screen and (min-width: 935px) {
    .r-br {
      display: block; } }

.text-link {
  display: inline-block;
  border-bottom: 1px #d25458 solid; }

/* Extends ------------------------ */
.portfolio__heading, .about-section__header, .contact__header {
  font-weight: normal;
  color: #f8f8f7;
  padding: .54165em 0 .7em;
  text-transform: uppercase; }

.portfolio__heading, .about-section__header, .contact__header, .intro, .project-header__title, .project-info, .aside__heading, .aside__subheading, .skills ul, .contact-icons, .email, .linked, .facebook, small, .navigation, .button {
  text-align: center; }

.about-section__subheader {
  border-bottom: 1px dashed #bcbabb; }

.layout-wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0; }

/* Header Section ------------------------ */
.header {
  background-color: #f8f8f7;
  padding: 1.5294117647em 0 0; }

.logo {
  max-width: 423px;
  margin: 0 auto 0.7647058824em; }

.intro {
  font-size: 0.8823529412em;
  line-height: 0.7647058824em;
  font-style: italic;
  color: #e6a503; }

/* Portfolio Section ------------------------ */
@media screen and (min-width: 600px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap; } }

.portfolio__heading {
  background-color: #0ea6b4; }
  .portfolio__heading:after {
    font: .8em 'themify';
    content: "\e663"; }
  @media screen and (min-width: 600px) {
    .portfolio__heading {
      flex-grow: 1;
      flex-basis: 100%;
      margin: 0.7647058824em; } }
  @media screen and (min-width: 960px) {
    .portfolio__heading {
      flex-grow: 1;
      flex-basis: 214px;
      background-color: #fff;
      color: #0ea6b4;
      border: 7px #0ea6b4 solid;
      font-size: 2.7em;
      text-align: left;
      padding-left: .42em; }
      .portfolio__heading:after {
        content: ""; }
      .portfolio__heading span {
        border-bottom: 7px #0ea6b4 solid; } }
  @media screen and (min-width: 1180px) {
    .portfolio__heading:after {
      content: "\e661"; } }

/* Individual Projects */
.project {
  margin: 1.5294117647em auto; }
  @media screen and (min-width: 600px) {
    .project {
      margin: 0.7647058824em;
      flex-basis: 16.1176470588em;
      flex-grow: 1; } }
  @media screen and (min-width: 960px) {
    .project {
      flex-grow: 1.4; } }

@media screen and (min-width: 960px) {
  .project-l {
    flex-grow: 1.7; } }

.project-header__title {
  font-size: 1.2em;
  color: #303030;
  opacity: 0.85;
  background-color: #fff;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  padding: .3em 0 .4em;
  text-transform: uppercase; }
  @media screen and (min-width: 935px) {
    .project-header__title {
      bottom: 12px;
      width: 95%;
      padding: .4em 0 .5em; } }

.project-info {
  background-color: #f8f8f7;
  padding: 1em 1em 0;
  margin-top: .2em;
  position: relative;
  padding-bottom: 1.2em; }
  .project-info::before, .project-info::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px #0ea6b4 solid; }
  .project-info::before {
    top: 0;
    left: 0;
    border-right: 0;
    border-bottom: 0; }
  .project-info::after {
    bottom: 0;
    right: 0;
    border-top: 0;
    border-left: 0; }
  @media screen and (min-width: 935px) {
    .project-info {
      z-index: -1;
      position: absolute;
      top: -3px;
      width: 100%;
      height: 98%;
      padding-top: 13%; } }
  @media (min-width: 935px) {
    .project-info {
      padding-top: 15%;
      font-size: 1.1em; } }

.project-info__heading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #0ea6b4;
  padding-bottom: .4em;
  display: block; }

.project-info__role {
  display: inline; }

@media screen and (min-width: 935px) {
  .project-header {
    display: block; } }

@media screen and (min-width: 935px) {
  .project-header:hover {
    opacity: 0;
    transition: .5s; } }

/* Aside Styles ------------------------ */
.aside {
  background-color: #f8f8f7;
  padding: 1.3em .8em 1em;
  margin: 1.5294117647em 0;
  border: 1px dashed #bcbabb; }
  @media screen and (min-width: 600px) {
    .aside {
      margin: 0.7647058824em;
      flex-basis: 16.1176470588em;
      flex-grow: 1; } }
  @media screen and (min-width: 960px) {
    .aside {
      font-size: .8em;
      vertical-align: middle;
      flex-basis: 12.5882352941em; } }
  @media screen and (min-width: 1180px) {
    .aside {
      font-size: 1em; } }

.aside__heading, .aside__subheading {
  padding: .4em 0 .2em;
  text-transform: uppercase;
  color: #0ea6b4; }

.aside__heading_black {
  color: #303030; }

/* Skills Section ------------------------ */
.skills {
  padding-bottom: .7em; }

.skills h1 {
  margin-bottom: .6em; }
  @media screen and (min-width: 935px) {
    .skills h1 {
      margin-bottom: .2em; } }
  @media screen and (min-width: 1180px) {
    .skills h1 {
      padding-top: .2em; } }

@media screen and (min-width: 1180px) {
  .skills ul {
    padding-top: .2em; } }

.aside__list {
  font-size: .9em;
  display: inline-block;
  padding: .3em;
  margin-bottom: .3em; }

.skills ul li::before {
  content: url(../img/diamond.png);
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top; }

/* About Styles ------------------------ */
.about-section {
  background-color: #f8f8f7;
  padding: .3em 0 1em; }

.about-section__header {
  background-color: #e6a503; }
  @media screen and (min-width: 935px) {
    .about-section__header {
      font-size: 2em;
      background-color: #fff;
      color: #e6a503;
      border: 7px #e6a503 solid;
      border-bottom: 0;
      border-left: 0;
      padding: .5em 1em .8em 0;
      text-align: right; }
      .about-section__header span {
        border-bottom: 7px #e6a503 solid;
        padding-left: .2em; } }
  @media screen and (min-width: 1180px) {
    .about-section__header:before {
      font: .8em 'themify';
      content: "\e662 "; } }

.about-section__subheader {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
  padding: .8em 0 .12em 4%;
  border-color: #e6a503; }
  @media screen and (min-width: 935px) {
    .about-section__subheader {
      font-size: 1.5em; } }

.about-section__p {
  margin-top: 1.5294117647em; }

@media screen and (min-width: 935px) {
  .about-section__story {
    display: table-cell;
    float: right;
    width: 33%;
    vertical-align: middle;
    outline: 1px red solid; } }

@media screen and (min-width: 935px) {
  .about-section__work {
    display: table-cell;
    width: 65%;
    float: left;
    background-color: #f8f8f7;
    padding: 0.5em 2em 1em;
    border-left: 7px #e6a503 solid;
    margin-bottom: 0; } }

/* Contact Me Section ------------------------ */
.contact {
  clear: both; }

.contact__header {
  background-color: #d25458; }

.contact-icons {
  margin: 0 auto; }

@media screen and (min-width: 560px) {
  .contact-icons__item {
    margin-right: 1%; } }

.contact div ul li a {
  display: block;
  height: 100%; }

.email {
  width: 65%;
  height: 186px;
  float: right; }

.linked, .facebook {
  width: 30%;
  height: 85px; }

.email, .linked, .facebook {
  background-color: #f8f8f7;
  border: 1px #bcbabb solid;
  position: relative; }
  @media screen and (min-width: 560px) {
    .email, .linked, .facebook {
      float: none;
      display: inline-block;
      width: 32%;
      height: 120px; } }

small {
  font-size: .6em;
  display: block;
  padding: 6em 0 2em;
  clear: both; }

/* Typography Styles ------------------------ */
@font-face {
  font-family: 'themify';
  src: url("fonts/themify.eot?-fvbane");
  src: url("fonts/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("fonts/themify.woff?-fvbane") format("woff"), url("fonts/themify.ttf?-fvbane") format("truetype"), url("fonts/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Navigation Styles ------------------------ */
.navigation {
  margin-top: 1.5294117647em;
  border-top: 3px rgba(188, 186, 187, 0.4) double;
  border-bottom: 3px rgba(188, 186, 187, 0.4) double; }

.navigation__item {
  display: inline-block;
  padding: .6em .8em;
  font-size: 1em; }
  .navigation__item:hover {
    color: #0ea6b4; }

/* Button Styles ------------------------ */
.button {
  font-size: 100%;
  font-style: italic;
  color: #303030;
  background-color: #f8f8f7;
  border: 1px solid #bcbabb;
  padding: 0.4117647059em 0.6em 0.6em;
  position: relative;
  display: block;
  margin: 1.5294117647em auto 0;
  max-width: 160px;
  outline: 1px red solid; }
  .button:hover {
    color: #0ea6b4;
    border: 1px solid #0ea6b4; }
  .button::after {
    content: '';
    width: 100%;
    height: 100%;
    border-right: 1px #bcbabb solid;
    border-bottom: 1px #bcbabb solid;
    position: absolute;
    right: -4px;
    bottom: -4px; }

/*# sourceMappingURL=application.css.map */
