/* Base Styles ------------------------ */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font: 17px/1 "ff-meta-web-pro", sans-serif; }

iframe {
  border: 0; }

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  font-size: inherit; }

li {
  display: block; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a {
  color: inherit;
  transition: .2s;
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  border: 0; }

p {
  font: 1em/1.2em Georgia, Times, "Times New Roman", serif;
  margin: .5em 0;
  color: #303030; }

.r-br {
  display: none; }
  @media screen and (min-width: 935px) {
    .r-br {
      display: block; } }

.dashed-divider {
  border: 0;
  margin: 1.25em 0; }

.portfolio__heading {
  font-size: 1.4em;
  font-weight: normal;
  color: #f8f8f7;
  margin: .6em auto;
  padding: .4em 0 .5em;
  text-transform: uppercase; }

.portfolio__heading, .intro, .project-header__title, .project-info, .aside__header, .aside__subheader, .navigation, .button {
  text-align: center; }

.dashed-divider {
  border-bottom: 1px dashed #bcbabb; }

.main-container {
  width: 95%;
  margin: 0 auto; }

@media screen and (min-width: 560px) {
  .portfolio {
    display: flex;
    align-items: center;
    flex-wrap: wrap; } }

/* Header Section ------------------------ */
.header {
  background-color: #f8f8f7;
  padding: 1.5em 1em .5em; }

.logo {
  max-width: 423px;
  margin: 0 auto; }

.intro {
  font-size: .9em;
  font-style: italic;
  color: #e6a503;
  padding-top: .3em; }

/* Portfolio Section ------------------------ */
.portfolio__heading {
  background-color: #0ea6b4; }

.portfolio__heading:after {
  font: .8em 'themify';
  content: "\e663"; }

.project {
  margin: 1em 0 1.2em; }

.project-header {
  position: relative; }

.project-header:hover .project-header__title {
  color: #0ea6b4;
  transition: .3s; }

.project-header__link::before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 99%;
  box-shadow: inset 0px 0px 0px 7px rgba(0, 0, 0, 0.3); }

.project-header__title {
  font-size: 1.2em;
  color: #303030;
  opacity: 0.85;
  background-color: #fff;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  padding: .3em 0 .4em;
  text-transform: uppercase; }

.project-info {
  background-color: #f8f8f7;
  padding: 1em 1em 0;
  margin-top: .2em;
  position: relative;
  padding-bottom: 1.2em; }

.project-info:before, .project-info:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px #0ea6b4 solid; }

.project-info::before {
  top: 0;
  left: 0;
  border-right: 0;
  border-bottom: 0; }

.project-info::after {
  bottom: 0;
  right: 0;
  border-top: 0;
  border-left: 0; }

.project-info__heading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #0ea6b4;
  padding-bottom: .4em;
  display: block; }

.project-info__role {
  display: inline; }

/* .aside Styles ------------------------ */
.aside {
  background-color: #f8f8f7;
  padding: 1.3em .8em 1em;
  margin: 1.25em 0; }

.aside__header, .aside__subheader {
  padding: .4em 0 .2em;
  text-transform: uppercase; }

/* Typography Styles ------------------------ */
@font-face {
  font-family: 'themify';
  src: url("fonts/themify.eot?-fvbane");
  src: url("fonts/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("fonts/themify.woff?-fvbane") format("woff"), url("fonts/themify.ttf?-fvbane") format("truetype"), url("fonts/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Navigation Styles ------------------------ */
.navigation {
  margin-top: 1.5em;
  border-top: 3px #e3e3e3 double;
  border-bottom: 3px #e3e3e3 double; }

.navigation__item {
  display: inline-block;
  padding: .6em .8em;
  font-size: .95em; }

.navigation__item:hover {
  color: red; }

/* Button Styles ------------------------ */
.button {
  font-size: 100%;
  font-style: italic;
  color: #303030;
  background-color: #fff;
  border: 1px solid #bcbabb;
  padding: .4em .6em .6em;
  position: relative;
  display: block;
  margin: 1.2em auto 0;
  max-width: 160px; }

.button:hover {
  color: #0ea6b4;
  border: 1px solid #0ea6b4; }

.button::after {
  content: '';
  width: 100%;
  height: 100%;
  border-right: 1px #bcbabb solid;
  border-bottom: 1px #bcbabb solid;
  position: absolute;
  right: -4px;
  bottom: -4px; }

/*# sourceMappingURL=application.css.map */
