



.logo {
  max-width: 423px;
  /*Max-width*/
  margin: 0 auto; }

.intro {
  font-size: .85em;
  font-style: italic;
  text-align: center;
  color: #e6a503; }

nav {
  margin-top: .7em;
  text-align: center;
  border-top: 3px #e3e3e3 double;
  border-bottom: 3px #e3e3e3 double; }

nav ul li {
  display: inline-block;
  padding: .5em;
  font-size: .9em; }


hr {
  border: 0;
  border-bottom: 1px dashed #bcbabb;
  margin: 1.25em 0; }
  @media (min-width: 560px) {
    hr {
      display: none; } }

.animation {
  display: none; }
  @media (min-width: 935px) {
    .animation {
      display: table-cell; } }

aside {
  background-color: #f8f8f7;
  padding: .5em .8em .1em;
  margin: 1.25em 0; }
  @media (min-width: 935px) {
    aside {
      display: table-cell;
      font-size: .8em;
      vertical-align: middle; } }
  @media (min-width: 1180px) {
    aside {
      font-size: 1em; } }

aside h1, aside h2 {
  padding: .4em 0 .2em;
  text-transform: uppercase;
  text-align: center;
  color: #303030; }

aside h1 {
  color: #0ea6b4; }

aside p {
  text-align: center; }

aside p:nth-child(2) {
  padding-bottom: 1em;
  border-bottom: 1px #bcbabb dashed; }


.text-link {
  display: inline-block;
  border-bottom: 1px #d25458 solid; }
