/* About Styles ------------------------ */

.about-section {
  @extend %container-md;
  background-color: #f8f8f7;
  padding: .3em 0 1em;
  position: relative;

  @media screen and (min-width: 935px) {
    background-color: #fff;
    padding: 0 1em;
  }
  @media screen and (min-width: 1180px) {
    padding: 0 1.3em;
  }
}

.about-section__header {
  @extend %container-sm;
  @extend %base-header;
  background-color: #e6a503;

  @media screen and (min-width: 935px) {
    font-size: 2em;
    background-color: #fff;
    color: #e6a503;
    border: 7px #e6a503 solid;
    border-bottom: 0;
    border-left: 0;
    padding: .5em 1em .8em 0;
    text-align: right;
  }
}

.about-section__header span {
  @media screen and (min-width: 935px) {
    border-bottom: 7px #e6a503 solid;
    padding-left: .2em;
  }
}

.about-section__header:before {
  @media screen and (min-width: 1180px) {
    font: .8em 'themify';
    content: "\e662 ";
  }
}

.about-section__subheader {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: normal;
  @extend %d-border;
  display: inline-block;
  padding: .8em 0 .1em 4%;

  @media screen and (min-width: 935px) {
    font-size: 1.5em;
    border-color: #e6a503;
  }
}

.about-section__p {
  margin-top: 1em;
}

.about-section__story, .about-section__work, .about-section__header, .about-section__subheader {
  @media screen and (min-width: 935px) {
    margin: 0;
    vertical-align: top;
  }
}

.about-section__story {
  @extend %container-sm;
  @media screen and (min-width: 935px) {
    display: table-cell;
    float: right;
    width: 33%;
    vertical-align: middle;
  }
}

.about-section__story p {
  @media screen and (min-width: 935px) {
    padding: .4em 1em 2em;
    text-align: left;
    line-height: 1.3em;
  }
}

.about-section__work {
  @extend %container-sm;
  margin-bottom: 3.5em;

  @media screen and (min-width: 935px) {
    display: table-cell;
    width: 65%;
    float: left;
    background-color: #f8f8f7;
    padding: 0.5em 2em 1em;
    border-left: 7px #e6a503 solid;
    margin-bottom: 0;
  }
}

.about-section__work p {
  @media screen and (min-width: 935px) {
    padding-left: 1.7em;
  }
}
