/* Aside Styles ------------------------ */

.aside {
  background-color: $color-backg-sec;
  border: 1px dashed $color-border;
  margin: em(13);
  padding: 0 em(13);
  font-size: em(17);
  @extend %centered;

  @media #{$brk-narrow} {
    flex-basis: calc(100% - 52px);
    flex-grow: 1;
  }
  @media #{$brk-medium} {
    flex-basis: calc((100% / 2) - 52px);
  }
  @media #{$brk-wide} {
    flex-basis: 15%;
  }
}
.aside_clients {
  @media #{$brk-narrow} {
    order: 1;
  }
}

.aside__heading {
  @extend %base-heading;
  color: $color-prim;
  font-size: em(17);
}
.aside__list {
  padding-bottom: em(26);
}
// .aside__list::before {
//   content: url(../img/diamond.png);
//   width: 15px;
//   height: 15px;
//   display: inline-block;
//   vertical-align: top;
// }

.aside__client-list {
  @extend %d-border;
}
