/* Contact Me Section ------------------------ */
.contact {
  @media #{$brk-wide} {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    outline: 1px red solid;
    margin: 0 auto;
  }
}
.contact__header {
  @extend %base-heading;
  background-color: $color-tert;

  @media #{$brk-wide} {
    width: 15%;
    font-size: 2em;
    background-color: $color-backg-main;
    color: $color-tert;
    border: 7px $color-tert solid;
    vertical-align: middle;
  }
}

.contact-icons {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.contact-icons__item {
  width: 86px;
  height: 86px;
  background-color: $color-backg-sec;
  border: 1px $color-border solid;
  position: relative;
  margin: em(13);
  flex-grow: 1;
  color: $color-tert;
}

.ti-email:after, .ti-linkedin:after, .ti-dribbble:after,.ti-github:after  {
    font: em(50) 'themify';
  position: absolute;
  top: 20%;
  left: 55%;
  margin-left: -30px;
  padding: 0;
}

.ti-email:after {
  content: "\e75a";
}

.ti-linkedin:after {
  content: "\e735";
}
.ti-dribbble:after  {
  content: "\e743";
}
.ti-github:after {
  content: "\e73f";
}

.copyright {
  display: block;
  font-size: em(10);
  @extend %centered;
  padding: em(26) 0;
}
