/* Extends ------------------------ */
// Vertical Rhythm calculated with https://drewish.com/tools/vertical-rhythm/

//Recalculate base rhythm

// Center text
%centered {
  text-align: center;
}
//
// Dashed border
%d-border {
  border-bottom: 1px dashed $color-border;
}

//Base Heading
%base-heading {
  font: em(24) $stack-sans-serif;
  font-weight: normal;
  color: $color-backg-sec;
  margin: em(13) auto;
  padding: em(6.5) 0;
  @extend %centered;
  text-transform: uppercase;
}
