/* Extends ------------------------ */

//Base Heading
%base-heading {
  font-size: 1.4em;
  font-weight: normal;
  color: $color-backg-sec;
  margin: .6em auto;
  padding: .4em 0 .5em;
  @extend %centered;
  text-transform: uppercase;
}

// Center text
%centered {
  text-align: center;
}
//
// Dashed border
%d-border {
  border-bottom: 1px dashed $color-border;
}
