/* Extends ------------------------ */
// Vertical Rhythm calculated with https://drewish.com/tools/vertical-rhythm/

//Recalculate base rhythm

//Base Heading
%base-heading {
  // font: 24px $stack-sans-serif;
  font-weight: normal;
  color: $color-backg-sec;
  // margin: em(13) auto;
  padding: .54165em 0 .7em;
  @extend %centered;
  text-transform: uppercase;
}

// Center text
%centered {
  text-align: center;
}
//
// Dashed border
%d-border {
  border-bottom: 1px dashed $color-border;
}
