/* Header Section ------------------------ */

body > header, .project-info {
  background-color: #f8f8f7;
  padding: 1em 1em 0;
  overflow: auto; }
  .logo {
    max-width: 423px;
    /*Max-width*/
    margin: 0 auto; }
