/* Portfolio Section ------------------------ */
.portfolio {
  max-width: 1440px;

  @media #{$brk-narrow} {
    display: flex;
    flex-wrap: wrap;
  }

  @media #{$brk-wide} {
    margin: em(26) auto em(39);
  }
}

.portfolio__heading {
  @extend %base-heading;
  background-color: $color-prim;

  &:after {
    font: .8em 'themify';
    content: "\e663";
  }

  @media #{$brk-narrow} {
    flex-grow: 1;
    flex-basis: 100%;
  }

  @media #{$brk-wide} {
    flex-basis: 15%;
    background-color: $color-backg-main;
    color: $color-prim;
    border: 9px $color-prim solid;
    font-size: em(48);
    text-align: left;
    padding: 0;
    margin: 13px;
    line-height: 1em;
    padding-left: 26px;
    padding-top: 26px;

    &:after {
    content: "\e661";
    }

    span {
      border-bottom: 7px $color-prim solid;
    }
  }

}


/* Individual Projects */

.project {
  position: relative;
  margin: em(26) em(13);

  @media #{$brk-narrow} {
    flex-basis: calc((100% / 2) - 52px);
    flex-grow: 1;
    margin: em(13);
  }

  @media #{$brk-wide} {
    flex-basis: calc((100% / 3) - 52px);
  }
}

.project-header:hover {
  @media #{$brk-medium} {
    opacity: 0;
    transition: .5s;
  }
}

.project-header__link {
  display: block;
  position: relative;

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 8px);
    box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

.project-info__title {
  @extend %base-heading;
  font-size: em(20);
  color: $color-text-base;
  margin:0;
  padding: em(13);
}

.project-info {
  position: relative;
  @extend %centered;
  background-color: $color-backg-sec;
  padding-bottom: em(26);

  &::before, &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px $color-prim solid;
  }

  &::before {
    top: 0;
    left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
    border-top: 0;
    border-left: 0;
  }

  @media #{$brk-medium} {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 97%;
    padding-top: 3%;
  }

}

.project-info__heading {
  font-style: italic;
  font-weight: normal;
  color: $color-prim;
}
