/* Skills Section ------------------------ */

.skills {

  padding-bottom: .7em;

  // @media screen and (min-width: 560px) {
  //   padding-bottom: 1em;
  // }
  // @media screen and (min-width: 935px) {
  //   width: 25%;
  //   font-size: .9em;
  // }
  // @media screen and (min-width: 1180px) {
  //   font-size: 1.10em;
  //   padding-bottom: .2em;
  // }
}

.skills h1 {
  margin-bottom: .6em;

  @media screen and (min-width: 935px) {
    margin-bottom: .2em;
  }
  @media screen and (min-width: 1180px) {
    padding-top: .2em;
  }
}

.skills ul {
  @extend %centered;

  @media screen and (min-width: 1180px) {
    padding-top: .2em;
  }
}

.aside__list {
  font-size: .9em;
  display: inline-block;
  padding: .3em;
  margin-bottom: .3em;

  // @media (min-width: 935px) {
  //   display: block;
  //   margin-bottom: 0;
  //   padding-bottom: .2em;
  //   padding-left: 1.7em;
  //   text-align: left;
  // }
  // @media (min-width: 1180px) {
  //   padding-left: 3em;
  //   padding-bottom: .5em;
  // }
}

.skills ul li::before {
  content: url(../img/diamond.png);
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
}
