/* Button Styles ------------------------ */

.button {
  @extend %centered;
  font-size: 100%;
  font-style: italic;
  color: $color-text-base;
  background-color: $color-backg-sec;
  border: 1px solid $color-border;
  padding: em(7) .6em .6em;
  position: relative;
  display: block;
  margin: em(26) auto 0;
  max-width: 160px;
  outline: 1px red solid;

  &:hover {
    color: $color-prim;
    border: 1px solid $color-prim;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    border-right: 1px $color-border solid;
    border-bottom: 1px $color-border solid;
    position: absolute;
    right: -4px;
    bottom: -4px;
  }

}

//
// .about-section__story > .button {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   margin: 0 auto 1em;
//   text-transform: uppercase;
//   color: e6a503;
//   font-weight: bold;
//   width: 210px;
//   padding: .5em;
//   outline: 1px red solid;
//
//   @media screen and (min-width: 935px) {
//     position: relative;
//   }
// }
