/* Navigation Styles ------------------------ */

.navigation {
  @extend %centered;
  margin-top: em(26);
  border-top: 3px $color-border-light double;
  border-bottom: 3px $color-border-light double;
}

.navigation__item {
  display: inline-block;
  padding: .6em .8em;
  font-size: 1em;

  &:hover {
    color: $color-prim;
  }
}
