/* Navigation Styles ------------------------ */

.navigation {
  @extend %centered;
  margin-top: 1.5em;
  border-top: 3px #e3e3e3 double;
  border-bottom: 3px #e3e3e3 double;
}

.navigation__item {
  display: inline-block;
  padding: .6em .8em;
  font-size: .95em;

  &:hover {
    color: red;
  }
}
