/* Base Styles ------------------------ */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 17px $stack-serif;
  line-height: em(26);
  color: $color-text-base;

  @media screen and (min-width: 935px) {
    border: 7px solid $color-text-base;
  }
}

iframe {
  border: 0;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

li {
  display: block;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: inherit;
  transition: .3s;
  text-decoration: none;

  &:link {

  }
  &:visited {

  }
  &:hover {

  }
}

img {
  width: 100%;
  height: auto;
  border: 0;
}

p {
  margin: 0 0 em(26) 0;
}

.r-br {
  display: none;

  @media screen and (min-width: 935px) {
    display: block;
  }
}
//
// .hide {
//  display: none;
// }
//

// Dashed border for articles
// .dashed-divider {
//   border: 0;
//   @extend %d-border;
//   margin: 0 0 1.5294em 0;
//
//   @media screen and (min-width: 560px) {
//     display: none;
//   }
// }

.text-link {
  display: inline-block;
  border-bottom: 1px $color-tert solid;
}
